[submodule "ThirdParty/libfive"]
	path = ThirdParty/libfive
	url = https://github.com/libfive/libfive
[submodule "ThirdParty/libigl"]
	path = ThirdParty/libigl
	url = https://github.com/libigl/libigl.git
[submodule "ThirdParty/Gauss"]
	path = ThirdParty/Gauss
	url = https://github.com/dilevin/GAUSS.git
